*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    min-height: 100vh;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 74px;
    padding: 1rem 150px;
    background-color: #ffffff;
    position: sticky;
    top: 0;
}

.logos {
    display: flex;
    gap: 16px;
}

.navigation {
    display: flex;
    gap: 30px;
}

li {
    list-style-type: none;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #212832;
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.hero {
    background-image: url(../img/illustration_principale.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    padding: 8rem 150px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.content p {
    width: 30%;
    line-height: 1.5;
    color: #bfc0cd;
}

h3 {
    font-family: "poppins-bold";
    font-size: 1.25em;
    text-transform: uppercase;
    color: salmon;
}

h1 {
    font-family: "volkhov-bold";
    font-size: 5.25em;
    line-height: 89px;
    letter-spacing: -4%;
}

p {
    font-family: "poppins-regular";
    font-weight: medium;
    font-size: 1em;
    color: #bfc0cd;
}

button {
    font-family: "poppins-bold";
    background-color: #f1a501;
    color: white;
    border: none;
    padding: 1em 2em;
    border-radius: 10px;
    width: fit-content;
    box-shadow: 0px 20px 35px 5px rgba(241, 165, 1, 0.15);
    transition: transform 0.2s;
}

button:hover {
    transform: scale(1.05);
}